// bower:scss
// endbower

html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: relative;
}

[layer] {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: white;
}

[layer="tuner"] {
  &:after {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: '';
    background: black;
    opacity: .8;
    transition: opacity .4s;
    pointer-events: none;
  }

  &.active {
    &:after {
      opacity: 0;
      // z-index: -1;
    }
  }
}

[layer="about"] {
  transform: translateX(100%);
  transition: transform .4s;
  background: red;

  &.active {
    transform: translateX(0);
  }
}
