// bower:scss
// endbower

html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: relative;
  transform: translateZ(0);
}

[layer] {
  overflow-y: auto;
}

* {
  box-sizing: border-box;
}

[layer="home"] {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: white;
  &:after {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: '';
    background: black;
    opacity: .5;
    transition: opacity .4s;
    pointer-events: none;
  }

  &.active {
    &:after {
      opacity: 0;
      transition: opacity .4s .1s;
    }
  }
}

[layer="getting-started"] {
  width: 400px;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  transform: translateX(100%);
  transition: transform .4s ease-in-out;
  background: white;

  &.active {
    transform: translateX(0);
  }
}

[layer="docs"] {
  width: 100%;
  position: absolute;
  right: 0;
  top: 0;
  padding: 40px;
  height: 100%;
  transform: rotateX(-180deg);
  transition: transform .4s ease-in-out;
  background: white;
  transform-origin: center top 0;
  z-index: 2;

  &.active {
    transform: rotateX(0);
  }
}

[layer="about"] {
  transition: all .4s ease-in-out;
  background: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 1px;
  width: 1px;
  overflow-y: auto;

  &.active {
    height: 400px;
    width: 400px;
  }
}


#app {
  perspective: 1000px;
}

.header {
  height: 100%;
  max-width: 720px;
  margin: 0 auto;
}
