<a href="/">Close</a>

<h3>The main concept is conditions and reactions:</h3>

<p>You tell the framework if the <em>route</em> is 'about', load the <em>layout</em> two columns with specific blocks.</p>
<ul>
  <li>Route is a context condition plugin.</li>
  <li>Layout is a context reaction plugin.</li>
</ul>

/app/contexts.js:
<pre><code>
'about': {
  conditions: {
    route: ['about']
  },
  reactions: {
    layer: [{
      key: 'about',
      layout: 'two-columns',
      data: function () {
        return {
          columnOne: 'here your html for column one',
          columnTwo: 'here your html for column two'
        }
      },
      postRender: function () {
        $('.button').click(function () {
          alert('test')
        })
      }
    }]
  }
}
</code></pre>

